@media (min-width: 320px) {

  	body {
  		font-size: : 8px;
  		background-image: url(background.jpg);
  		padding: 1px;
  		margin: 0;
  	}

  	a:link, a:visited {
  		color: #330000;
  		}

  	a:hover, a:active {
  		color: #b38600;
  		}

      #gallery {
        max-width: 250px;
      }

      #gallery ul {
       list-style: none;
      }

      #gallery li {
        margin: 1px;
      }

      #gallery img {
        display:block;
        padding: 1px;
        background-color: #330000;
      }

      #gallery img:hover {
        background-color: #b38600;
      }

}
