@media (max-width: 320px) {

  @import url(https://fonts.googleapis.com/css?family=Skranji);

  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
  }


  li a {
    display: inline-block;
    color: #330000;
    text-align: center;
    padding: 1px 1px;
    text-decoration: none;
    font-family: 'Skranji';
    font-size: 10px;
  }

  li a:visited {
    color: #330000;
 }

  li a:hover {
    color: #b38600;
  }

  body {
    background-image: url("background.jpg");
  }

  h1 {
    color: #330000;
    font-family: 'Skranji';
    font-size: 20px;
  }

  img {
    padding: 1px;
    border: 2px solid #330000;
    margin: 2px;
  }

  #mail a {
    color: #330000;
    background-color: #b38600;
    border-radius: 25px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  #mail a:visited {
    color: #b38600;
  }

  #mail a:hover {
    color: #330000;
    background-color: #b38600;
    border: 2px solid #330000;
    border-radius: 25px;
  }

  #gallery {
    width: 100%;
    margin:auto;
  }

  #gallery ul {
   list-style: none;
  }

  #gallery li {
    margin: 1px;
  }

  #gallery img {
    display:block;
    padding: 2px;
    background-color: #330000;
    border: 1px solid #330000;
  }

  #gallery img:hover {
    background-color: #b38600;
    border: 1px solid #b38600;
  }

  iframe {
    padding: 5px;
    background-color: #330000;
  }

  iframe:hover {
    padding: 5px;
    background-color: #b38600;
  }

}
