@media (min-width: 320px) {

    nav {
      max-width: 95%;
    }

  	html, body {
  		font: 12px;
  		background-image: url(background.jpg);
  		padding: 3px;
  		color: #000;
  		margin: 0;
  		}
      
  	#sidebar, #footer {
  		display: none;
  		}

  	h1, h2 {
  		font-weight: normal;
  		}

  	img {
  		max-width: 250px;
  		}

  	.center {
  		width: 100% !important;
  		text-align: center;
  		}

  	a:link, a:visited {
  		color: #0000CC;
  		}

  	a:hover, a:active {
  		text-decoration: underline;
  		color: #660066;
  		}

}
