@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Alegreya+Sans);

p.small {
    line-height: 70%;
}

body {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 12pt;
}

h1 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 16pt;
}
h2 {
  font-size: 14pt;
}

address {
  font-style: normal;
  font-size: 10pt;
}
li {
  font-size: 10pt;
}

#skillsbox {
  display: inline-block;
  width:340px;
  border:1px solid;
  vertical-align:bottom;
  height: 350px;
  background-color: #ffffcc;
  padding: 15px;
  border: 5px solid #cc4400;
  margin: 25px;
  float:left;
}

#educationbox {
  display: inline-block;
  width: 322px;
  border:1px solid;
  vertical-align:bottom;
  height: 350px;
  background-color: #ffffcc;
  padding: 15px;
  border: 5px solid #cc4400;
  margin: 25px;
  float:left;
}

#experiencebox {
  background-color: #ffffcc;
  vertical-align: top;
  width: 750px;
  height: 850px;
  padding: 15px;
  border: 5px solid #cc4400;
  margin: 25px;
}

  .clearfix {
    clear: both;
  }
